</br>

<h3>Number of Requests:  {{vehicleRequests.length}}</h3>
<table class= "table table-striped table-hover">
    <th>Customer Full Name </th>
    <th>Vehicle Registration No</th>
    <th>Mobile No</th>
    <th>Actions</th>
     
   
    <tr ng-repeat ="vehicle in vehicleRequests track by $index">
      <td> {{vehicle.firstName}}  {{vehicle.lastName}}</td>
      <td> {{vehicle.registrationNo}}</td>
      <td> {{vehicle.mobileNo}}</td>
      <td> 
      	<a href="#viewRequest/{{vehicle.id}}" class= "btn btn-default">View</a>&nbsp;&nbsp;
      	<button ng-click="deleteRequest(vehicle.id, $index)" class="btn btn-danger">Delete</button>
      </td>
        
    </tr>
</table>



 <button ng-click="undoRequest()" class="btn btn-info">Undo</button>
 <a href="#/requestform" class= "btn btn-primary">Add New Request</a>
