</br>



<div class="row">
  <div class="col-xs-12">
		<form name="addVehicleform" ng-submit="addRequest()" class= "form-horizontal">
			<div class="form-body">

			  <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">First Name:</label>
		          <div class="col-md-6">
		             <input ng-disabled= "isDisabled" class="form-control" type="text" ng-model="requestData.firstName" required />
		          </div>
		        </div>
		      </div>
		    </div>
		   

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Last Name:</label>
		          <div class="col-md-6">
		             <input ng-disabled= "isDisabled" class="form-control" type="text" ng-model="requestData.lastName" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Vehicle registration no:</label>
		          <div class="col-md-6">
		             <input ng-disabled= "isDisabled" class="form-control" type="text" ng-model="requestData.registrationNo" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Mobile number:</label>
		          <div class="col-md-6">
		             <input ng-disabled= "isDisabled" class="form-control" type="number" ng-model="requestData.mobileNo" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Address:</label>
		          <div class="col-md-6">
		             <textarea ng-disabled= "isDisabled" class="form-control" rows="4" cols="50"  ng-model="requestData.address" required /></textarea></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Pickup Date:</label>
		          <div class="col-md-6">
		             <input ng-disabled= "isDisabled" class="form-control" ng-model="requestData.pickupDate" rows="4" cols="50" jqdatepicker required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Return Date:</label>
		          <div class="col-md-6">
		             <input ng-disabled= "isDisabled" class="form-control" ng-model="requestData.returnDate" rows="4" cols="50" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3"></label>
		          <div class="col-md-6">
		            <button ng-if ="editable" class="btn btn-primary">Submit Request</button>
                <a href="#/" class="btn btn-default">Back to home screen</a>
		        </div>
		      </div>
		    </div>

			 
			</div>

		</form>
	</div>
</div>
	              