</br>

<div class="row">
  <div class="col-xs-12">
		<form name="addVehicleform" ng-submit="addRequest()" class= "form-horizontal">
			<div class="form-body">

			  <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">First Name:</label>
		          <div class="col-md-6">
		             <input class="form-control" type="text" ng-model="firstName" required />
		          </div>
		        </div>
		      </div>
		    </div>
		   

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Last Name:</label>
		          <div class="col-md-6">
		             <input class="form-control" type="text" ng-model="lastName" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Vehicle registration no:</label>
		          <div class="col-md-6">
		             <input class="form-control" type="text" ng-model="registrationNo" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Mobile number:</label>
		          <div class="col-md-6">
		             <input class="form-control" type="number" ng-model="mobileNo" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Address:</label>
		          <div class="col-md-6">
		             <textarea class="form-control" rows="4" cols="50"  ng-model="address" required /></textarea></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Pickup Date:</label>
		          <div class="col-md-6">
		             <input class="form-control" ng-model="pickupDate" rows="4" cols="50" jqdatepicker required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3">Return Date:</label>
		          <div class="col-md-6">
		             <input class="form-control" ng-model="returnDate" rows="4" cols="50" required /></div>
		        </div>
		      </div>
		    </div>

		    <div class="row">
		      <div class="col-xs-9">
		        <div class="form-group">
		          <label class="col-md-3"></label>
		          <div class="col-md-6">
		              <button class="btn btn-primary">Submit Request</button>
                  <a href="#/" class="btn btn-default">Cancel</a>
		        </div>
		      </div>
		    </div>

			 
			</div>

		</form>
	</div>
</div>
	              